body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================== Header ============================ */
.notes-header {
  background: rgb(255,208,0);
  background: linear-gradient(304deg, rgba(255,208,0,1) 0%, rgba(255,241,177,1) 100%);
  border-bottom: 3px solid #00bfff;
  width: 100%;
  height: 60px;
}

.header-title {
  margin-top: 18px;
  font-size: 20px;
  color: #5c5c5c;
  float: left;
  cursor: pointer;
}

.title-container {
  width: 60%;
  float: left;
}

.header-buttons-container {
  float: right;
  margin: 0px 10px 0px 0px;
  width: 120px;
}

.header-button {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: white;
  float: right;
  border: 3px solid #DCDCDC;
  cursor: pointer;
}

.sign-in-img {
  width: 32px;
  height: 32px;
}

.header-logo {
  width: 48px;
  height: 48px;
  /* border-radius: 24px; */
  float: left;
  cursor: pointer;
  margin: 5px 10px 0px 15px;
}

@media screen and (min-width: 900px) {
  .header-title {
    font-size: 32px;
    margin-top: 10px;
  }
  
  .header-logo {
    margin: 5px 10px 0px 30px;
  }
}

/* ===================== Notes Page ====================== */

.signin-notice {
  color: #F5535E;
  width: calc(100% - 36px);
  margin: 10px ;
  padding: 5px;
  /* margin-top: 10px; */
  border: 3px solid red;
  border-radius: 5px;
}

.empty-notes {
  width: 250px;
  color: #778899;
  border: 5px solid #778899;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 32px;
}

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
  padding: 0px;
  max-width: 950px;
  margin: auto;
}

.new-note {
  width:60px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
  background-color: #ffd000;
  color: #5c5c5c;
  border: 3px solid #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 950px) {
  .new-note {
    bottom: 40px;
    right: 50px;
  }
}

/* ====================== Note Modal ========================== */

.note-modal {
  background-color: rgb(0,0,0,0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
  overflow: auto;
}

.note-modal-content {
  background-color: white;
  width: calc(100% - 24px);
  padding: 10px;
  border-radius: 15px;
  height: calc(100% - 24px);
  border: 2px solid #DCDCDC;
}

.note-input-body {
  height: calc(100% - 100px);
  overflow: auto;
}

.note-input-title {
  font-weight: bold;
}

.note-input-title, .note-input-body {
  text-align: left;
  width: calc(100% - 20px);
  border-radius: 15px;
  padding: 5px;
  font-size: 20px;
  border: none;
}

@media screen and (min-width: 900px) {
  .note-modal-content {
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-top: 24px;
    height: 87%;
  }

  .note-input-body {
    height: calc(100% - 100px );
  }
}

/* ========================== Modal Buttons ========================= */

.modal-btn-container {
  height: 30px;
  width: 100%;
}

.modal-btn {
  float: right;
  border: 2px solid white;
  color: white;
  background-color: #32CD32;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

.cancel-btn {
  background-color: #778899;
}

.delete-btn {
  float: left;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  background-color: #F5535E;
  font-size: 16px;
  cursor: pointer;
}

/* ============================== Dropdown ============================= */

.dropdown-container {
  position: relative;
  float: right;
  /* width: 200px; */
  margin: 0px;
}

.color-btn {
  background: rgb(30,253,29);
  background: linear-gradient(299deg, #ffd000 25%, #00bfff 50%, #F5535E 75%);
}

.colors-container {
  position: absolute;
  right: -10px;
  bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.color-swatch {
  border-radius: 10px;
  border: 3px solid #5c5c5c;
  width: 48px;
  height: 36px;
}

/* ======================== Single Note ========================= */
.single-note {
  border: 2px solid #DCDCDC;
  width: calc(50% - 26px);
  margin: 10px;
  height: 150px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.note-title {
  font-weight: bold;
}

.note-body, .note-title {
  /* word-break: break-all; */
  overflow-wrap: break-word;
  margin: 10px;
  white-space: pre-wrap;
  text-align: left;
}

@media screen and (min-width: 600px) {
  .single-note {
    width: calc(33% - 22px);
  }
}

@media screen and (min-width: 900px) {
  .single-note {
    width: calc(25% - 26px);
  }
}

/* ======================== Loader ========================== */

.loader {
  /* background-color: green; */
  width: 50px;
  height: 50px;
  border: 5px solid #00bfff;
  border-bottom: 5px solid #ffd000;
  border-radius: 35px;
  animation: loader-spin 2s linear infinite;
  margin: calc(25% - 25px) 0px 0px calc(50% - 25px);
}

@keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ============================= Login ============================= */

.login {
  margin-top: 50px;
  margin-left: calc(4%);
  width: 90%;
  height: 375px;
  /* background-color: #00bfff; */
  border: 3px solid #DCDCDC;
  font-size: 24px;
  border-radius: 10px;
}

.login-title {
  color: #54535e;
}

.login-input {
  font-size: 24px;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid #DCDCDC;
}

.login-btn {
  width: 200px;
  font-size: 24px;
  background-color: #ffd000;
  color: #282c34;
  border: none;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
}

.login-signup {
  font-size: 16px;
  color: #ffd000;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .login {
    margin-left: calc(50% - 200px);
    width: 350px;
  }
}

/* ================= Snackbar =================== */

#snackbar {
  visibility: hidden;
  min-width: 200px;
  margin-left: -125px;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  background-color: #00bfff;
}

#snackbar.show {
  visibility: visible;
}