.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
.notes-header {
  background-color: #FF8C00;
  border-bottom: 3px solid #DCDCDC;
  width: 100%;
  height: 60px;
}

.header-title {
  margin-top: 5px;
  color: white;
  float: left;
}

.title-container {
  width: 60%;
  float: left;
}

.header-buttons-container {
  float: right;
  margin: 0px 10px 0px 0px;
  width: 30%;
}

.header-button {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: white;
  float: right;
  border: none;
}

.header-logo {
  width: 50px;
  height: 50px;
  margin: 5px 20px 0px 30px;
  border-radius: 24px;
  float: left;
}

/* Notes Page */

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
}

.new-note {
  width:60px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  cursor: pointer;
  background-color: #FF8C00;
  color: white;
}

/* Note Modal */

.note-modal {
  background-color: rgb(0,0,0,0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
}

.note-modal-content {
  background-color: white;
  width: 600px;
  margin-top: 150px;
  margin-left: calc(50% - 300px);
  padding: 10px;
}

.note-input-body {
  width: 600px;
  text-align: left;
  height: 400px;
}

.note-input-title {
  width: 600px;
}

.modal-btn-container {
  height: 20px;
}

.modal-btn {
  float: right;
}

.delete-btn {
  float: left;
}

/* Single Note */
.single-note {
  border: 2px solid #DCDCDC;
  width: 22.4%;
  margin: 10px;
  max-height: 225px;
  min-height: 110px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.note-title {
  font-weight: bold;
}

.note-body, .note-title {
  word-break: break-all;
  margin: 10px;
  white-space: pre-wrap;
  text-align: left;
}
